<!DOCTYPE html>
<html>
<% include ../partials/head %>
<body>
    <% include ../partials/header %>
    <form id="add" action="/" method="post">
        <label>Title:</label><input id="title" class="text-field" type="text" name="title"><br>
        <label>Body:</label><textarea id="body" class="text-field" type="text" name="body"></textarea><br>
        <input id="submit" type="submit">
    </form>
</body>
</html>
